<p id="notice"><%= notice %></p>

<div class="container">

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
</div>

	<div class="panel-body">
		<p>by <%= @blog_post.author %></p>
		<p><%= time_ago_in_words(blog_post.created_at) %></p>
		<p><%= @blog_post.blog_entry %></p>
	</div>
	<div class="panel-footer">
		<%= link_to "Edit", edit_blog_post_path(@blog_post), class: "btn btn-warning" %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Comments
	</div>
	<div class="panel-body">
		<%= render @comment %>
	</div>

<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

	<div>
	<%= link_to "All Blog Posts", blog_post_path, class: "btn btn=panel-primary" %>
	</div>

<div>
<%= link_to "Edit", edit_blog_post_path(@blog_post) %> 
<%= link_to "Back", blog_posts_path %>
</div>